<div class="wrapper">
  <div class="main">


<main class="content">
  <div class="container-fluid p-0">
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
              <li class="breadcrumb-item active" aria-current="page">
                  <a href="/">Home</a>
              </li>
              <li class="breadcrumb-item" aria-current="page">
                  Ups página no encontrada - Error 404
              </li>
          </ol>
     </nav>
      <h1 class="h3 mb-3">Ups página no encontrada - Error 404</h1>
      <div class="row">
          <div class="col-12 col-lg-12  d-flex">
              <div class="card flex-fill">
                  <div class="card-header">
                      <h5 class="card-title mb-0"> </h5>
                  </div>
                  <div class="card-body">
                      <img src="/img/404.png" alt="404" width="25%" />
                  </div>
              </div>
          </div>
      </div>
  </div>
</main>

</div>
</div>
