<nav id="sidebar" class="sidebar js-sidebar">
  <div class="sidebar-content js-simplebar">
      <a class="sidebar-brand" routerLink="/">
          <span class="align-middle">
              <img src="/img/logo2.png" style="width: 150px;" />
          </span>
      </a>

      <ul class="sidebar-nav">

              <li class="sidebar-header">
                  Administración
              </li>

              <li class="sidebar-item " routerLinkActive="active">
                  <a class="sidebar-link" routerLink="/usuarios">
                      <i class="align-middle fas fa-users"></i><span class="align-middle">Usuarios</span>
                  </a>
              </li>




          <li class="sidebar-header">
              Gastos
          </li>

          <li class="sidebar-item " routerLinkActive="active">
              <a class="sidebar-link" routerLink="/proveedores" title="Proveedores">
                  <i class="align-middle fas fa-truck-moving" ></i> <span class="align-middle">Proveedores</span>
              </a>
          </li>
          <li class="sidebar-item " routerLinkActive="active">
              <a class="sidebar-link" routerLink="/gastos-fijos" title="Gastos fijos">
                  <i class="align-middle fas fa-list-alt"></i> <span class="align-middle">Gastos fijos</span>
              </a>
          </li>
          <li class="sidebar-item " routerLinkActive="active">
              <a class="sidebar-link" routerLink="/gastos-por-dia" title="Gastos por día">
                  <i class="align-middle fas fa-list"></i> <span class="align-middle">Gastos por día</span>
              </a>
          </li>


      </ul>


  </div>
</nav>
