<nav class="navbar navbar-expand navbar-light navbar-bg">
  <a class="sidebar-toggle js-sidebar-toggle">
<i class="hamburger align-self-center"></i>
</a>

  <div class="navbar-collapse collapse">
      <ul class="navbar-nav navbar-align">
          <li class="nav-item dropdown">
              <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-bs-toggle="dropdown">
                  <i class="fas fa-long-arrow-alt-down align-middle"></i>
              </a>
              <a class="nav-link d-none d-sm-inline-block">
                  {{getFechaActual()}}
              </a>
              <a class="nav-link d-none d-sm-inline-block">
                  <span class="text-dark">|</span>
              </a>
              <a class="nav-link d-none d-sm-inline-block">
                  {{hora | date:'hh:mm:ss'}}
              </a>

              <a class="nav-link d-none d-sm-inline-block">
                  <span class="text-dark">|</span>
              </a>
              <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
                  <span class="text-dark">
                      {{nombre}}
                  </span>
                  <img src="/img/perfil.png"
                  class="avatar img-fluid rounded me-1" />
              </a>
              <div class="dropdown-menu dropdown-menu-end">
                  <a class="dropdown-item" title="Cerrar sesión" (click)="cerrarSesion()">
                      <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Cerrar sesión</a>
              </div>
          </li>
      </ul>

  </div>
</nav>
